---
layout: layouts/error.njk
title: Error
---

<main class="c-error-page__container">
  <h1 class="c-error-page__header">Error!</h1>
  <section class="c-error-page__context">
    <h2 class="c-error-page__subheader">
          Something has gone wrong, and our team has been notified
        </h2>
    <hr/>
    <dl class="o-dl--inline list-unstyled d-inline-block">
      <dt>Error code:</dt>
      <dd>Error message</dd>
    </dl>
    <p>Further explanation about the error message</p>
    <a href="/">A link to escape somewhere safe</a>
  </section>
</main>
