---
title: Exemplar Form
---
{% block head %}
<script
defer
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
></script>

{% include "partials/global/form-validator.njk" %}

{% endblock %}

<header class="page-header">
  <h1>{{ title }}</h1>
</header>

<div class="row">
  <div class="col-md-8">
    <form id="registration" novalidate>
      <div class="alert alert-info">
        All fields are required, unless marked optional
      </div>

      <div
        tabindex="-1"
        role="group"
        id="errorSummary"
        class="alert alert-danger errorSummary d-none"
      ></div>

      <div class="form-group field">
        <label class="form-label" for="name">Name (Optional)</label>
        <input
          class="form-control"
          type="text"
          name="name"
          id="name"
          autocomplete="given-name"
        />
      </div>

      <div class="form-group field">
        <label class="form-label" for="email">
          <span class="field-label">Email</span>
          <span class="field-hint">A valid email address</span>
        </label>
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          autocomplete="email"
          aria-required="true"
        />
      </div>

      <div class="form-group field">
        <label class="form-label" for="email">
          <span class="field-label">Password</span>
          <span class="field-hint">Longer than 8 characters</span>
        </label>
        <input
          class="form-control"
          type="password"
          name=""
          id="password"
          autocomplete="current-password"
          aria-required="true"
          min-length="8"
        />
      </div>

      <div class="form-group field">
        <label class="form-label" for="custom-select-again">
          <span class="field-label">Options (Optional)</span>
        </label>
        <select class="form-select" id="custom-select-again">
          <option>1 (One)</option>
          <option>2 (Two)</option>
          <option>3 (Three)</option>
          <option>4 (Four)</option>
          <option>5 (Five)</option>
        </select>
      </div>

      <div class="form-group field">
        <label class="form-label" for="message">
          <span class="field-label">Comment</span>
          <span class="field-hint">Tell us a little about yourself, in 240 characters or less.</span>
        </label>
        <textarea
          class="form-control"
          type="message"
          name="message"
          id="message"
          aria-required="true"
        ></textarea>
      </div>

      <fieldset>
        <legend>Pick a side (Optional)</legend>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="radio"
            name="radio"
          />
          <label class="form-check-label form-label" for="radio">Left</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="radio-checked"
            name="radio"
          />
          <label class="form-check-label form-label" for="radio-checked"
            >Right</label
          >
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="radio-checked-again"
            name="radio"
          />
          <label class="form-check-label form-label" for="radio-checked-again"
            >Sit on the fence</label
          >
        </div>
      </fieldset>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="check"
          name="check"
        />
        <label class="form-check-label form-label" for="check">Opt-in to our amazing newsletter</label>
      </div>

      <div class="form-group">
        <label class="form-label" for="exampleInputFile-jazzy">
          <span class="field-label">File input (Optional)</span>
          <span class="field-hint">Pick a file… any file…</span>
        </label>
        <input class="form-control" type="file" id="exampleInputFile-jazzy" />
      </div>

      <div class="controls">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-default">Clear</button>
      </div>
    </form>
  </div>
  <div class="col-md-4">
    <h2>Guidelines</h2>
    <ol>
      <li><code>novalidate</code> set on form to disable browser validation</li>
      <li>Top-aligned labels</li>
      <li>Labels always visible</li>
      <li>A new row for each question</li>
      <li>Use a hint to explain any validation rules which have been applied to the input</li>
      <li>
        Use the appropriate <code>autocomplete</code> attribute for the field in
        question.
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete"
          >View the list of values at MDN</a
        >
      </li>
      <li>All fields required by default; explicitly mark those which are optional.</li>
      <li>Use a <code>fieldset</code> to group multiple controls. A <code>legend</code> describes a group like a <code>label</code> describes an individual control.</li>
      <li>Use sensible defaults: design for common circumstances first.</li>
      <li>The input width gives users a clue as to the length of the content it requires.</li>
      <li>Do not disable the form submit button: allow it to be discovered and trigger the form validation rules.</li>
    </ol>

    <h3>Validation</h3>
    <p>Messsages should:</p>
    <ol>
      <li>Be concise</li>
      <li>Be consistent</li>
      <li>Be specific</li>
      <li>Avoid jargon</li>
      <li>Use plain language</li>
      <li>Use active voice</li>
      <li>Not blame the user</li>
    </ol>
  </div>
</div>

