---
title: Bootstrap v5 Kitchen Sink
---

{% from "macros/alerts.njk" import alert %}

{{ alert("For demonstration purposes only. This section is non-normative.", { type: 'warning' }) }}

{% include "page-header.njk" %}
{% include "breadcrumbs.njk" %}
{% include "typography.njk" %}
{% include "well.njk" %}
{% include "button.njk" %}
{% include "tables.njk" %}
{% include "forms-2.njk" %}
{% include "navs.njk" %}
{% include "alerts.njk" %}
{% include "badges.njk" %}
{% include "pagination.njk" %}
{% include "modals.njk" %}
{% include "toasts.njk" %}
{% include "loader.njk" %}

<div class="progress">
  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" aria-label="Upload progress">25%</div>
</div>
