---
title: Bootstrap v5 Kitchen Sink
---

{% from "macros/alerts.njk" import alert %}

{{ alert("For demonstration purposes only. This section is non-normative.", { type: 'warning' }) }}

{% include "breadcrumbs.njk" %}
{% include "page-header.njk" %}
{% include "typography.njk" %}
{% include "well.njk" %}
{% include "button.njk" %}
{% include "tables.njk" %}
{% include "forms-2.njk" %}
{% include "navs.njk" %}
{% include "alerts.njk" %}
{% include "badges.njk" %}
{% include "pagination.njk" %}
{% include "modals.njk" %}
{% include "toasts.njk" %}
{% include "loader.njk" %}
{% include "progress.njk" %}
