---
title: Bootstrap v5 Kitchen Sink
---

{% include "page-header.njk" %}
{% include "breadcrumbs.njk" %}
{% include "typography.njk" %}
{% include "well.njk" %}
{% include "button.njk" %}
{% include "tables.njk" %}
{% include "forms-2.njk" %}
{% include "navs.njk" %}
{% include "alerts.njk" %}
{% include "badges.njk" %}
{% include "pagination.njk" %}
{% include "modals.njk" %}
{% include "loader.njk" %}
