.badge {
  line-height: 1.0769230769;
  text-transform: uppercase;

  &.bg-primary,
  &.bg-danger {
    color: $white;
  }
}

.label {
  @extend .badge;
}

.label-primary {
  background-color: $primary;
  color: $white;
}

.label-danger {
  background-color: $danger;
  color: $white;
}

.label-warning {
  background-color: $warning;
  color: $black;
}

.badge-default,
.label-default {
  background-color: #AAD0D0;
}
