.badge {
  line-height: 1.0769230769;
  text-transform: uppercase;

  &.bg-primary,
  &.bg-danger {
    color: $white;
  }
}

.label {
  @extend .badge;
}

.label-primary {
  color: $white;
  background-color: $primary;
}

.label-danger {
  color: $white;
  background-color: $danger;
}

.label-warning {
  color: $black;
  background-color: $warning;
}

.badge-default,
.label-default {
  background-color: #aad0d0;
}
