/* stylelint-disable selector-class-pattern */
@import "bootstrap/scss/mixins/buttons";
@import "bootstrap/scss/mixins/gradients";
@import "bootstrap/scss/mixins/box-shadow";
@import "bootstrap/scss/vendor/rfs";
@import "bootstrap/scss/mixins/border-radius";

.btn-default,
.btn-success,
.btn-warning,
.btn-info {
  @include button-variant(
    $white,
    $primary,
    $primary,
    $gray-200,
    $accent,
    $accent,
    $gray-200,
    $accent,
    $accent,
    $white,
    $btn-disabled-color,
    $btn-disabled-color
  );

  /* stylelint-disable-next-line declaration-no-important */
  border-color: currentcolor !important;

  &:focus,
  &:active {
    background-color: $white;
    box-shadow: 0 0 0 $btn-focus-width $accent;
  }

  &:hover:focus {
    background-color: $gray-200;
  }

  &:active,
  &.active,
  &.show {
    &:focus {
      box-shadow: 0 0 0 $btn-focus-width $accent;
    }
  }
}

.btn-link {
  @include button-variant(
    $white,
    $primary,
    $primary,
    $gray-200,
    $accent,
    $accent,
    $gray-200,
    $accent,
    $accent,
    $white,
    $btn-disabled-color,
    $btn-disabled-color
  );

  font-weight: 600;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;

  &:focus {
    background-color: transparent;
  }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-warning,
.btn-outline-info {
  @extend .btn-default;
}

.btn-outline-danger,
.btn-danger {
  @include button-variant(
    $white,
    $red,
    $red,
    $gray-200,
    #a71a22,
    #a71a22,
    $gray-200,
    #a71a22,
    #a71a22,
    $white,
    $btn-disabled-color,
    $btn-disabled-color
  );

  &:focus,
  &:active {
    background-color: $white;
    box-shadow: 0 0 0 $btn-focus-width #a71a22;
  }

  &:hover:focus {
    background-color: $gray-200;
  }

  &:active {
    &:focus {
      box-shadow: 0 0 0 $btn-focus-width #a71a22;
    }
  }
}

.btn-primary {
  &:focus {
    border-color: $white;
    box-shadow: 0 0 0 $btn-focus-width $white, 0 0 0 2px $primary;
  }

  &:disabled,
  &.disabled {
    background-color: $btn-disabled-color;
    border-color: $btn-disabled-color;
  }

  &:active {
    background-color: #004b50;
    box-shadow: 0 0 0 $btn-focus-width $white, 0 0 0 2px #004b50;

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width $white, 0 0 0 2px #004b50;
    }
  }
}

.btn-alert {
  @include button-variant(
    transparent,
    $black,
    $black,
    rgba(0,0,0,.1),
    $black,
    $black,
    rgba(0,0,0,.1),
    $black,
    $black,
    $gray-700,
    $btn-disabled-color,
    $btn-disabled-color
  );

  &:focus {
    border-color: $black;
    box-shadow: 0 0 0 $btn-focus-width $black, 0 0 0 2px transparent;
  }

  &:active:focus {
    box-shadow: 0 0 0 $btn-focus-width $black, 0 0 0 2px transparent;
  }
}

.btn-alert--primary {
  @include button-variant(
    $black,
    $black,
    $white,
    $gray-900,
    $gray-900,
    $white,
    $black,
    $white,
    $white,
    $btn-disabled-color,
    $btn-disabled-color,
    $white
  );

  &:focus {
    border-color: $black;
    box-shadow: 0 0 0 $btn-focus-width $white, 0 0 0 2px $black;
  }

  &:active:focus {
    box-shadow: 0 0 0 $btn-focus-width $white, 0 0 0 2px $black;
  }
}

.btn-lg {
  font-weight: 400;
  line-height: 1.333;
}

.btn-xs {
  @include button-size(
    .15385em,
    .30769em,
    1em,
    3px
  );

  line-height: 1.0769230769;
  text-transform: uppercase;
  vertical-align: baseline;
}

/// @deprecated Compose existing classes instead. To be removed in v4
.btn-action {
  @extend .btn-lg;
  @extend .btn-link;
}
