$enable-caret: true;

@import "bootstrap/scss/mixins/caret";

.show.dropdown-toggle {
  @include caret(up);
}

.dropdown-header {
  font-size: 11px;
  text-transform: uppercase;
}

.dropdown-item {

  &:hover {
    border-left: 3px solid $accessible-green;
    padding-left: 17px;
  }

  &:focus {
    outline: 2px solid $accessible-green;
    outline-offset: -2px;
  }

  &:active {
    background-color: $white;
    color: $primary;
  }

}
