$enable-caret: true;
@import "bootstrap/scss/mixins/_caret";

.show.dropdown-toggle {
  @include caret(up);
}

.dropdown-header {
  font-size: 11px;
  text-transform: uppercase;
}

.dropdown-item:focus {
  outline: 2px solid $primary;
  outline-offset: -2px;
}
