.t-error {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: .8125em;
  line-height: 1.6;
  color: #fff;
  background-color: #017d87;

  hr {
    max-width: 20rem;
    margin: 2rem 0;
  }

  a {
    color: $white;
  }

  a:hover,
  a:focus {
    color: #017d87;
    background-color: $white;
    outline: 2px solid $white;
    outline-offset: 2px;
  }
}

.o-dl--inline > *:not(div) {
  display: inline;
}

.c-error-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60em;
  min-height: 100vh;
  padding: 0 5vw;
}

.c-error-page__header {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.1;
  color: $white;
}

.c-error-page__subheader {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 2.4375rem;
  font-weight: 300;
  line-height: 1.1;
  color: $white;
}

.c-error-page__context {
  font-size: 1rem;
}
