@use "sass:math";

label {
  color: $black;
}

legend {
  margin-bottom: .25rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: $black;
}

[type=search]::-webkit-search-cancel-button {
  display: none;
}

.form-group {
  @extend .mb-3;
}

::placeholder {
  font-style: italic;
}

.form-control {
  :read-only,
  [readonly] {
    color: $input-disabled-color;
    background-color: $input-disabled-bg;
    border-color: $input-disabled-border-color;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

.form-check-input {
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  box-shadow: 0 0 0 1px $primary;
}

.form-check-label.form-label {
  margin-bottom: 0;
}

.form-check-input:hover {
  background-color: $gray-200;
}

.form-check-input:focus {
  border: 0;
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
}

.field-label,
.field-hint,
.field-error {
  display: block;
}

.field-hint {
  font-style: italic;
}

.field-required {
  font-weight: 600;
  color: $gray-700;
}

.field-error {
  display: block;
  padding: math.div($spacer, 4) $spacer;
  margin-top: math.div($spacer, 2);
  margin-bottom: math.div($spacer, 2);
  color: $red;
  border-left: 3px solid $red;
}

.help-block {
  display: block;
  padding: math.div($spacer, 4) $spacer;
  margin-top: .3125rem;
  margin-bottom: .625rem;
  margin-bottom: math.div($spacer, 2);
  font-style: italic;
  color: $black;
  border-left: 3px solid $primary;
}

.input-group + .field-error {
  margin-top: math.div($spacer, 2);
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: $input-border-color;
}


.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .form-select:invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
}

.form-switch {
  padding-left: 3em;
}

.form-switch .form-check-input {
  width: 2rem;
  margin-left: -3em;
}

.form-switch .form-check-input {
  background-color: $gray-500;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e");
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $primary;
}

.form-switch .form-check-input:checked {
  background-color: $primary;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e")
}
