label {
  color: $black;
}

legend {
  color: $black;
  font-weight: 300;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.form-group {
  @extend .mb-3;
}

::placeholder {
  font-style: italic;
}

.form-check-input {
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 1px $primary;
}

.form-check-label.form-label {
  margin-bottom: 0;
}

.form-check-input:hover {
  background-color: $gray-200;
}

.form-check-input:focus {
  border: 0;
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
}

.form-check-input--alt {
  box-shadow: 0 0 0 1px $pink;

  &:focus {
    box-shadow: 0 0 0 2px $pink;
  }

  &:checked[type="checkbox"] {
    background-image: escape-svg($form-check-input-checked-bg-image--alt);
  }

  &:checked[type="radio"] {
    background-image: escape-svg($form-check-radio-checked-bg-image--alt);
  }
}

.help-block {
  display: block;
  margin-top: .3125rem;
  margin-bottom: .625rem;
  font-style: italic;
  color: $gray-700;
}

.field-label,
.field-hint,
.field-error {
  display: block;
}

.field-hint {
  font-style: italic;
}

.field-label + .field-hint {
  margin-bottom: $form-label-margin-bottom;
}
