@use "sass:math";

label {
  color: $black;
}

legend {
  margin-bottom: .25rem;
  font-size: 1.125rem;
  font-weight: 300;
  color: $black;
}

.form-group {
  @extend .mb-3;
}

::placeholder {
  font-style: italic;
}

.form-check-input {
  width: 1rem;
  height: 1rem;
  flex-grow: 0;
  flex-basis: 1rem;
  box-shadow: 0 0 0 1px $primary;
}

.form-check-label.form-label {
  margin-bottom: 0;
}

.form-check-input:hover {
  background-color: $gray-200;
}

.form-check-input:focus {
  border: 0;
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
}

.form-check-input--alt {
  box-shadow: 0 0 0 1px $pink;

  &:focus {
    box-shadow: 0 0 0 2px $pink;
  }

  &:checked[type="checkbox"] {
    background-image: escape-svg($form-check-input-checked-bg-image--alt);
  }

  &:checked[type="radio"] {
    background-image: escape-svg($form-check-radio-checked-bg-image--alt);
  }
}

.field-label,
.field-hint,
.field-error {
  display: block;
}

.field-hint {
  font-style: italic;
}

.field-required {
  font-weight: 600;
  color: $gray-700;
}

.field-error {
  display: block;
  padding: math.div($spacer, 4) $spacer;
  margin-top: math.div($spacer, 2);
  margin-bottom: math.div($spacer, 2);
  color: $red;
  border-left: 3px solid $red;
}

.help-block {
  display: block;
  padding: math.div($spacer, 4) $spacer;
  margin-top: .3125rem;
  margin-bottom: .625rem;
  margin-bottom: math.div($spacer, 2);
  font-style: italic;
  color: $black;
  border-left: 3px solid $primary;
}

.input-group + .field-error {
  margin-top: math.div($spacer, 2);
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.was-validated .form-control:valid,
.form-control.is-valid {
  border-color: $input-border-color;
}


.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .form-select:invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: $input-focus-border-color;
  box-shadow: $input-focus-box-shadow;
}
