.loading-indicator:not([hidden]) {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-modal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: transparentize($white, 0.25);
}

.loader-background {
  background-color: $white;
}

.cradle {
  display: flex;
  font-size: 2em;
}

.cradle-node {
  transform-origin: center -1em;
}

.cradle-ball {
  width: 2em;
  height: 2em;
  background: $cradle-ball-colour-default;
  border-radius: 50%;
  box-shadow: inset -0.08em -0.4em 1px $cradle-shadow-colour;
}

.cradle-node:first-child {
  animation: left-bounce $cradle-anim-dur $cradle-anim-fun infinite alternate;
}

.cradle-node:last-child {
  animation: right-bounce $cradle-anim-dur $cradle-anim-fun $cradle-anim-dur infinite alternate;
}

.cradle-node:first-child .cradle-ball {
  animation: left-shift-colour $cradle-colour-anim-dur $cradle-anim-fun infinite;
}

.cradle-node:last-child .cradle-ball {
  animation: right-shift-colour $cradle-colour-anim-dur $cradle-anim-fun $cradle-anim-dur infinite;
}

@keyframes left-bounce {
  0%,
  50% { transform: rotate(0deg); }
  100% { transform: rotate(35deg); }
}
@keyframes right-bounce {
  0%,
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-35deg); }
}

@keyframes left-shift-colour {
  0%,
  12.4%,
  37.5%,
  62.4%,
  87.5% {
    background: $cradle-ball-colour-default;
    box-shadow: inset -0.08em -0.4em 1px $cradle-shadow-colour;
  }

  25%,
  75% {
    box-shadow: inset -4px -8px 1px $cradle-shadow-colour;
  }

  12.5%,
  37.4% {
    background: $cradle-ball-colour-gold;
  }

  62.5%,
  87.4% {
    background: $cradle-ball-colour-blue;
  }
}

@keyframes right-shift-colour {
  0%,
  12.4%,
  37.5%,
  62.4%,
  87.5% {
    background: $cradle-ball-colour-default;
    box-shadow: inset -0.08em -0.4em 1px $cradle-shadow-colour;
  }

  25%,
  75% {
    box-shadow: inset 0.08em -8px 1px $cradle-shadow-colour;
  }

  12.5%,
  37.4% {
    background: $cradle-ball-colour-teal;
  }

  62.5%,
  87.4% {
    background: $cradle-ball-colour-pink;
  }
}
