.modal-header {
  justify-content: center;
}

.modal-title {
  margin: 0;
  font-size: $h1-font-size;
  font-weight: 300;
  color: $black;
}

.modal-content {
  background-clip: border-box;
}

.modal-footer {
  padding-top: 0.625rem;
  background-color: $gray-100;
}
