.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.navbar-nav .nav-link {
  width: 100%;
  text-align: left;
  background-color: inherit;
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  background-color: rgb(0 0 0 / 25%);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-brand:focus {
  outline: 2px solid currentcolor;
  outline-offset: -2px;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  background-image: linear-gradient(0deg, $white 4px, transparent 4px);
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-brand {
  padding-block: .9375rem .9375rem;
  padding-inline: $spacer $spacer;
  margin-left: -$spacer;
}

@media (width <= 992px) {
  .navbar-nav .nav-link {
    padding-inline: $spacer $spacer;
  }
}
