.nav-tabs {
  border-bottom: 1px solid #017d87;

  .nav-link {
    padding-top: 10px;
    padding-bottom: 16px;
    margin-bottom: 0;
    line-height: 1.6;
    border-width: 0;
  }

  .nav-link.active {
    background-image: linear-gradient(0deg, #017d87 4px, transparent 4px);
  }

  .nav-link:focus {
    background-color: #fff;
    outline: 2px solid #017d87;
    outline-offset: -1px;
  }

  .nav-link:hover {
    background-color: $gray-200;
  }
}

.nav-pills {
  .nav-link {
    border: 1px solid transparent;
  }

  .nav-link.active,
  .nav-pills .show > .nav-link {
    border-color: $primary;
  }

  .nav-link:focus {
    background-color: $white;
    border: 1px solid $primary;
    outline: 0;
    box-shadow: 0 0 0 1px $primary;
  }

  .nav-link:hover {
    background: $gray-200;
  }
}
