.pager {
  .page-item:first-child .page-link {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .page-link {
    display: inline-block;
    padding: 5px 14px;
    border-color: $primary;
    border-radius: 15px;

    &:focus {
      box-shadow: 0 0 0 1px $primary;
    }
  }

  .page-item.disabled .page-link {
    color: $gray-500;
    pointer-events: none;
    background-color: #fff;
    border-color: transparent;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 0 1px $primary;
    }
  }
}
