.o-skip-link {
  @include visually-hidden-focusable;
}

.c-skip-link:focus,
.o-skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #005d64;
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  outline: 3px solid #fff;
  opacity: initial;
  text-decoration: underline;
  text-underline-position: under;
  transition: none;
}
