@use "bootstrap/scss/mixins/_visually-hidden" as bootstrap;

.o-skip-link {
  @include bootstrap.visually-hidden-focusable();
}

.c-skip-link:focus,
.o-skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  font-weight: 600;
  color: $white;
  text-decoration: underline;
  text-underline-position: under;
  background-color: $accessible-green;
  outline: 3px solid $white;
  opacity: initial;
  transition: none;
}
