.table > :not(:first-child) {
  border-top: none;
}

// Temp override while we wait for https://github.com/twbs/bootstrap/pull/35200 to end up in live
.table > :not(caption):not(colgroup) + * {
  border-top: (2 * $table-border-width) solid $table-group-separator-color !important;
}

th,
.o-table__sort-btn {
  color: $black;
}

.table-lg {
  > :not(caption) > * > * {
    padding: $table-cell-padding-y-lg $table-cell-padding-x-lg;
  }
}

.o-table__sort-btn {
  width: 100%;
  padding: $table-cell-padding-y $table-cell-padding-x;
  font-weight: 600;
  text-align: inherit;
  white-space: nowrap;
  border-radius: 0;
}

.o-table__sort-btn:hover {
  color: $black;
  background-color: $table-striped-bg;
}

.o-table__sort-btn:focus {
  color: $black;
  background-color: $table-striped-bg;
  border-radius: $border-radius;
  box-shadow: 0 0 0 2px inset $accent;
}

.table-lg .o-table__sort-btn {
  padding: $table-cell-padding-y-lg $table-cell-padding-x-lg;
}

.table-lg .o-table__sort-btn:focus {
  padding: $table-cell-padding-y-lg $table-cell-padding-x-lg;
  border-radius: $border-radius-lg;
}

th:not([aria-sort]) .o-table__sort-btn .o-table__sort-btn__arrow--up,
th:not([aria-sort]) .o-table__sort-btn .o-table__sort-btn__arrow--down {
  display: none;
}

th[aria-sort="descending"] .o-table__sort-btn .o-table__sort-btn__arrow--both,
th[aria-sort="descending"] .o-table__sort-btn .o-table__sort-btn__arrow--down {
  display: none;
}

th[aria-sort="ascending"] .o-table__sort-btn .o-table__sort-btn__arrow--both,
th[aria-sort="ascending"] .o-table__sort-btn .o-table__sort-btn__arrow--up {
  display: none;
}

.sorted {
  background-color: #017e872a;
}
