@use "sass:math";
$grid-gutter-width: 1.5rem;
$container-padding-x: $grid-gutter-width * 0.5;
$toast-spacing: $container-padding-x;

.toast-container {
  z-index: $zindex-popover;
}

.toast {
  margin-bottom: $toast-spacing;
  font-weight: 300;

  &-success {
    background-color: #d0e6dd;
  }

  &-info {
    background-color: #a4d1ea;
  }

  &-warning {
    background-color: #fed989;
  }

  &-danger {
    background-color: #f3d5d5;
  }

  .btn-close {
    width: auto;
    height: auto;
    padding: 0;
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 1px;
    background: transparent;
    opacity: 1;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.toast > *:only-child {
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
}

.toast-body:not(:only-child) {
  padding: 0 math.div($toast-padding-x, 2);
}
