@use "sass:math";

.toast {
  margin-bottom: $toast-spacing;
  font-weight: 300;

  &-success {
    background-color: #d0e6dd;
  }

  &-info {
    background-color: #a4d1ea;
  }

  &-warning {
    background-color: #fed989;
  }

  &-danger {
    background-color: #fed989;
  }

  .btn-close {
    width: auto;
    height: auto;
    font-weight: 300;
    text-decoration: underline;
    background: transparent;
    opacity: 1;
    text-underline-offset: 1px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.toast-body {
  padding: $toast-padding-y $toast-padding-x;
  padding-right: math.div($toast-padding-x, 2);

  &:only-child {
    padding-right: $toast-padding-x;
  }
}

.toast-body + .btn-close {
  margin-right: $toast-padding-x;
}
