.t-error {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8125em;
  line-height: 1.6;
  color: #fff;
  background-color: #017d87;

  hr {
    max-width: 20rem;
    height: 1px;
    margin: 2rem 0;
    background-color: rgba(255, 255, 255, .2);
    border: none;
    box-sizing: content-box;
  }

  dl {
    margin-top: 0;
    margin-bottom: 20px;
  }

  dl {
    line-height: 1.6;
  }

  dt{
    font-weight: 700;
  }

  dd {
    margin-left: 0;
  }

  a {
    color: inherit;
  }

  a:hover,
  a:focus {
    background-color: white;
    color: #017d87;
    outline: 2px solid white;
    outline-offset: 2px;
  }
}

.o-dl--inline *:not(div) {
  display: inline;
}

.c-error-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60em;
  min-height: 100vh;
  padding: 0 5vw;
}

.c-error-page__header {
  font-family: inherit;
  font-size: 3.25rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.c-error-page__subheader {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.4375rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
}

.c-error-page__context {
  font-size: 1rem;
}
