<h2>Alerts</h2>
<!-- Basic -->
<div class="alert alert-info" id="alert">
  <span>Something has happened. Yup.</span>
  <a href="#alert" class="btn btn-alert btn-outline-light">Click me</a>
  <a href="#alert" class="btn btn-alert--primary">Click me</a>
  <button class="btn btn-alert btn-outline-light">Click me</button>
  <button class="btn btn-alert--primary">Click me</button>
  <button class="btn btn-alert--primary" disabled>Can't click me</button>
  <button class="btn btn-alert" disabled>Can't click me</button>
</div>

<!-- Success -->
<div class="alert alert-success">
  <p class="mb-0">Something <strong>good</strong> has happened.</p>
  <button class="btn btn-alert btn-outline-dark">Click me</button>
</div>

<p class="text-success">Success!</p>

<!-- Info -->
<div class="alert alert-warning">
  <p class="mb-0">Something <strong>useful</strong> has happened.</p>
  <button class="btn btn-alert btn-outline-dark">Click me</button>
</div>

<p class="text-warning">Warning!</p>

<!-- Danger -->
<div class="alert alert-danger">
  <p class="mb-0">
    Something <strong>bad</strong> has happened.
    <a href="error.html" class="alert-link">error</a>
  </p>
  <button class="btn btn-alert">Click me</button>
  <a href="error.html" class="btn btn-alert btn-outline-dark">Click me</a>
</div>

<p class="text-danger">Danger, Will Robinson!</p>
<hr />
