<h2 id="badges">Badges</h2>

<span class="badge label-default">Basic</span>
<span class="badge bg-primary">Primary</span>
<span class="badge bg-info">Info</span>
<span class="badge bg-success">Success</span>
<span class="badge bg-warning">Warning</span>
<span class="badge bg-danger">Danger</span>

<button class="btn btn-primary">
  Messages
  <span class="badge rounded-pill bg-secondary text-light">99</span>
</button>
<hr />
