{% from "macros/buttons.njk" import button %}

<h2>Buttons</h2>
<h3>Normal</h3>
  {{ button("Normal button", { type: 'default' }) }}
  {{ button("Primary button", { type: 'primary' }) }}
  {{ button("Success button", { type: 'success' }) }}
  {{ button("Warning button", { type: 'warning' }) }}
  {{ button("Info button", { type: 'info' }) }}
  {{ button("Danger button", { type: 'danger' }) }}
  {{ button("Link button", { type: 'link' }) }}

  <h3>Large</h3>
  {{ button("Normal button", { type: 'default', size: 'lg' }) }}
  <button type="button" class="btn btn-lg btn-primary">
    Primary button
  </button>
  <button type="button" class="btn btn-lg btn-success">
    Success button
  </button>
  <button type="button" class="btn btn-lg btn-warning">
    Warning button
  </button>
  <button type="button" class="btn btn-lg btn-info">
    Info button
  </button>
  <button type="button" class="btn btn-lg btn-danger">
    Danger button
  </button>
  <button type="button" class="btn btn-lg btn-link">
    Link button
  </button>
  <button type="button" class="btn btn-default btn-lg" disabled>
    Default inactive button
  </button>
  <button type="button" class="btn btn-primary btn-lg" disabled>
    Default inactive button
  </button>

<div class="btn-group">
  <button
    class="btn btn-default dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    disabled
  >
    I'm a disabled dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-header">Dropdown header</li>
    <li>
      <a href="#">Link 1</a>
    </li>
    <li>
      <a href="#">Link 2</a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">Dropdown header</li>
    <li>
      <a href="#">Link 3</a>
    </li>
    <li class="divider"></li>
    <li class="danger">
      <a href="#">Delete</a>
    </li>
  </ul>
</div>

<h3>XS</h3>
<button class="btn btn-xs btn-default">XS button</button>
<button class="btn btn-xs btn-primary">XS button</button>
<button class="btn btn-xs btn-primary" disabled>XS button</button>
<button class="btn btn-xs btn-default" disabled>XS button</button>
<hr>
