<form>
    <div class="mb-3">
      <label class="form-label" for="exampleInputEmail"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail"
        placeholder="Email"
        assigned="true"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="text">A textarea</label>
      <textarea id="text" class="form-control" rows="3">
I'm a textarea</textarea
      >
    </div>

    <label class="form-label" for="searchInput">Search</label>
    <div class="input-group mb-3">
      <input
        class="form-control"
        id="searchInput"
        type="search"
        placeholder="Search the library catalogue"
      />
      <button class="btn btn-outline-primary" type="button">
        <i class="fa fa-fw fa-search"></i>
        <span class="visually-hidden">Search</span>
      </button>
    </div>
  </form>

  <div class="mb-3">
    <label class="form-label" for="select-num"
      >Choose a number:</label
    >
    <select class="form-select" id="select-num">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label" for="custom-select"
      >Custom select:</label
    >
    <select class="form-select" id="custom-select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</form>

