<h2>Navigation</h2>
<h3>Tabs</h3>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#home" role="tab" data-toggle="tab">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#profile" role="tab" data-toggle="tab">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#messages" role="tab" data-toggle="tab">Messages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#settings" role="tab" data-toggle="tab">Settings</a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="home">
    Home tab
  </div>
  <div role="tabpanel" class="tab-pane" id="profile">Profile tab</div>
  <div role="tabpanel" class="tab-pane" id="messages">
    Messages tab
  </div>
  <div role="tabpanel" class="tab-pane" id="settings">
    Settings tab
  </div>
</div>

<h3>Pills</h3>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Messages</a>
  </li>
</ul>

<h3>Stacked Pills</h3>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Profile</a>
  </li>
  <li>
    <a class="nav-link" href="#">Messages</a>
  </li>
</ul>
<hr>
