<header class="page-header d-flex justify-content-between align-items-center">
  <h1 class="m-0">
    Primary task
    <small class="text-muted">Additional information</small>
  </h1>

  <button type="button" class="btn btn-primary btn-lg">Action</button>
</header>
