{% from "macros/tables.njk" import tableRow %}

<h2>Tables</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Course</th>
      <th>Requester</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>
        <span class="label label-default">Normal</span>
      </td>
      <td>Computer Science</td>
      <td>Daniel Matthew</td>
      <td>
        <div class="text-end">
          <button data-bs-toggle="dropdown" class="btn btn-lg btn-default">
            <span class="visually-hidden">Actions</span>
            <i class="far fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">View details</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Upload document</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Edit &amp; resubmit</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>
        <span class="label label-primary">Live</span>
      </td>
      <td>Computer Science</td>
      <td>Daniel Matthew</td>
      <td>
        <div class="text-end">
          <button data-bs-toggle="dropdown" class="btn btn-lg btn-default">
            <span class="visually-hidden">Actions</span>
            <i class="far fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">View details</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Upload document</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Edit & resubmit</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <span class="label label-danger">Failed</span>
      </td>
      <td>Computer Science</td>
      <td>Daniel Matthew</td>
      <td>
        <div class="text-end">
          <button data-bs-toggle="dropdown" class="btn btn-lg btn-default">
            <span class="visually-hidden">Actions</span>
            <i class="far fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">View details</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Upload document</a>
            </li>
            <li>
              <a class="dropdown-item" href="#"
                >Edit &amp; resubmit</a
              >
            </li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <span class="label label-warning">Warning</span>
      </td>
      <td>Computer Science</td>
      <td>Daniel Matthew</td>
      <td>
        <div class="text-end">
          <button data-bs-toggle="dropdown" class="btn btn-lg btn-default">
            <span class="visually-hidden">Actions</span>
            <i class="far fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">View details</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Upload document</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Edit & resubmit</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="table-responsive">
  <table class="table table-striped table-responsive">
      <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Course</th>
      <th>Requester</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>
      {{ tableRow("1", { label: 'Alpha', student: 'One', subject: 'Mathematics' }) }}
      {{ tableRow("2", { label: 'Beta', student: 'Two', subject: 'Mathematics' }) }}
      {{ tableRow("3", { label: 'Delta', student: 'Three', subject: 'Mathematics' }) }}
      {{ tableRow("4", { label: 'Epsilon', student: 'Four', subject: 'Mathematics' }) }}
      {{ tableRow("5", { label: 'Gamma', student: 'Five', subject: 'Mathematics' }) }}
  </table>
</div>
<hr>
