<footer class="py-4 mt-5"><hr><small class="d-block mb-0"><a href="https://talis.com/accessibility" rel="noreferrer">Accessibility</a></small><small class="d-block mb-0">Copyright © Talis Education Limited, all rights reserved</small></footer>
