      <ol class="list-unstyled o-list--striped u-mb1">
        <li>
          <article class="py-2 px-3 d-flex align-items-center justify-content-between">
            <header class="d-flex align-items-center">
              <img
                class="me-3"
                src="https://via.placeholder.com/48x68"
                alt=""
                width="50"
                height="68"
                style="max-width: 50px; height: auto;"
              />
              <div  style="max-width: 25vw;">
                <a href="{{ '/otis/module' | url }}"
                  >Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</a
                >
              </div>
            </header>
            <div>
                            <button type="button" class="btn btn-default">Reuse <span class="visually-hidden">Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</span></button>
            </div>
          </article>
        </li>
        <li>
          <article class="py-2 px-3 d-flex align-items-center justify-content-between">
            <header class="d-flex align-items-center">
              <img
                class="me-3"
                src="https://via.placeholder.com/48x68"
                alt=""
                width="50"
                height="68"
                style="max-width: 50px; height: auto;"
              />
              <div  style="max-width: 25vw;">
                <a href="{{ '/otis/module' | url }}"
                  >Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</a
                >
              </div>
            </header>
            <div>
              <button type="button" class="btn btn-default">Reuse <span class="visually-hidden">Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</span></button>
            </div>
          </article>
        </li>
        <li>
          <article class="py-2 px-3 d-flex align-items-center justify-content-between">
            <header class="d-flex align-items-center">
              <img
                class="me-3"
                src="https://via.placeholder.com/48x68"
                alt=""
                width="50"
                height="68"
                style="max-width: 50px; height: auto;"
              />
              <div  style="max-width: 25vw;">
                <a href="{{ '/otis/module' | url }}"
                  >Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</a
                >
              </div>
            </header>
            <div>
                            <button type="button" class="btn btn-default">Reuse <span class="visually-hidden">Clever cats will take control of the world sed ut perspiciatis onmis iste natus error sit voluptatem</span></button>
            </div>
          </article>
        </li>
      </ol>
