---
title: Error Page
---


<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>Error – Talis</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin />
    <link rel="preload"
          as="style"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
          media="print"
          onload="this.media='all'" />

    <link rel="stylesheet" href="{{ '/assets/css/talis.css' | url }}" />
  </head>
  <body class="t-error">
    {{ content | safe }}
  </body>
</html>
