---
title: player
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | url }}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/1f723026cf.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    {% block head %}{% endblock head %}
    <title>{{title}} | Talis</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
      <a class="o-skip-link" href="#content">Skip to main content</a>
      <div class="container">
        <a class="navbar-brand" href="{{ '/' | url }}">
          <img src="{{ '/assets/img/logo.svg' | url }}" alt="Talis" width="75" height="30">
        </a>
      </div>
    </nav>

    <div class="container ">{{ content | safe }}</div>
  </body>
</html>
