---
title: Single Module
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ '/otis/page-layout' | url }}"
        ><i class="far fa-arrow-alt-circle-left"></i> My Modules</a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<header class="page-header d-flex justify-content-between align-items-center">
  <h1>Encouraging deeper discussion</h1>

  <div>
    <button class="btn btn-primary btn-lg" type="button">Add resource</button>
    <button
      class="btn btn-default btn-lg"
      id="module-actions"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Actions for Encouraging deeper discussion</span>
      <i class="far fa-ellipsis-v"></i>
    </button>
    <ul
      class="dropdown-menu dropdown-menu-end"
      aria-labelledby="module-actions"
    >
      <li>
        <a class="dropdown-item" href="{{ '/otis/edit-module' | url }}">
          Edit module
        </a>
      </li>
      <li class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="#"> Copy playlist link </a>
      </li>
      <li>
        <a class="dropdown-item" href="#"> Embed playlist </a>
      </li>
      <li class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="#"> Download annotations </a>
      </li>
      <li>
        <a class="dropdown-item disabled" href="#"> Leave module </a>
      </li>
      <li class="danger">
        <a class="dropdown-item" href="{{ '/otis/reset-module' | url }}">
          Reset module
        </a>
      </li>
    </ul>
  </div>
</header>

<section class="mb-4">
  <h2 class="visually-hidden">Data vis</h2>
  <!-- Styles -->
  <style>
    #chartdiv {
      background-color: #f8f9fa;
      border-left: 1px solid #ff4d96;

      width: 100%;
      height: 21rem;
      max-width: 100%;
    }
  </style>

  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <!-- Chart code -->
  <script>
    am5.ready(function () {
      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5.Root.new("chartdiv");

      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([am5themes_Animated.new(root)]);

      // Create chart
      // https://www.amcharts.com/docs/v5/charts/xy-chart/
      var chart = root.container.children.push(
        am5xy.XYChart.new(root, {
          panX: true,
          panY: true,
          wheelX: "panX",
          wheelY: "zoomX",
        })
      );

      // Add cursor
      // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
      var cursor = chart.set(
        "cursor",
        am5xy.XYCursor.new(root, { behavior: "none" })
      );
      cursor.lineY.set("visible", false);

      // Generate random data
      var date = new Date();
      date.setHours(0, 0, 0, 0);
      var value = 100;

      function generateData() {
        value = Math.round(Math.random() * 10 - 5 + value);
        am5.time.add(date, "day", 1);
        return { date: date.getTime(), value: value };
      }

      function generateDatas(count) {
        var data = [];
        for (var i = 0; i < count; ++i) {
          data.push(generateData());
        }
        return data;
      }

      // Create axes
      // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
      var xAxis = chart.xAxes.push(
        am5xy.DateAxis.new(root, {
          maxDeviation: 0.2,
          baseInterval: {
            timeUnit: "day",
            count: 1,
          },
          renderer: am5xy.AxisRendererX.new(root, {}),
          tooltip: am5.Tooltip.new(root, {}),
        })
      );

      var yAxis = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          renderer: am5xy.AxisRendererY.new(root, {}),
        })
      );

      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
      var series = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: "Series",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "value",
          valueXField: "date",
          tooltip: am5.Tooltip.new(root, { labelText: "{valueY}" }),
        })
      );

      // Add scrollbar
      // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
      chart.set(
        "scrollbarX",
        am5.Scrollbar.new(root, { orientation: "horizontal" })
      );

      // Set data
      var data = generateDatas(1200);
      series.data.setAll(data);

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      series.appear(1000);
      chart.appear(1000, 100);
    }); // end am5.ready()
  </script>

  <div id="chartdiv"></div>
</section>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">XX Resources</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">XX Students</a>
  </li>
</ul>

<div class="table-responsive">
  <style>
    .c-resources__resource-select {
      flex: 0 0 1rem;
    }
  </style>
  <table class="table table-lg table-striped mb-3">
    <caption class="visually-hidden">
      A brief summary of the contents of this table.
    </caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th class="text-end">Personal notes</th>
        <th class="text-end">Class comments</th>
        <th>Time spent in resource</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="form-check d-flex align-items-center">
            <input
              class="form-check-input mt-0 c-resources__resource-select"
              type="radio"
              id="radio-checked-again"
              name="radio"
            />
            <label
              class="
                form-check-label form-label
                d-flex
                align-items-center
              "
              for="radio-checked-again"
            >
                <img
                class="mx-3"
                  src="https://via.placeholder.com/48x68"
                  alt=""
                  width="50"
                  height="68"
                  style="max-width: 50px; height: auto;"
                />
              <div  style="max-width: 25vw;">

                <a href="{{ '/otis/module' | url }}"
                  >The Impact of Digitalization on Literacy - Digital Immigrants
                  vs Digital Natives</a
                >
                <p class="m-0 text-truncate">
                  Considering the speed at which new digital technologies are
                  evolving, this paper aims to investigate the impact of digital
                  transformation on multiple dimensions of literacy.
                </p>
              </div>
            </label>
          </div>
        </td>
        <td><span class="label label-default">Video</span></td>
        <td class="text-end lead">
          <i class="fal fa-sticky-note"></i>
          0
        </td>
        <td class="text-end lead">
          <i class="fal fa-comments"></i>
          3
        </td>
        <td class="lead">75 min</td>
        <td class="text-end">
          <button
            class="btn btn-default btn-lg"
            id="resource-actions-xxx"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">Actions for resource title</span>
            <i class="far fa-ellipsis-v"></i>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            id="item-actions-dropdown"
          >
            <li><a class="dropdown-item" href="#">View resource</a></li>
            <li><a class="dropdown-item" href="#">Edit resource</a></li>
            <li>
              <button class="dropdown-item" type="button">
                Share resource
              </button>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <button class="dropdown-item" type="button">
                Remove resource
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<footer class="py-4 mt-5">
  <hr />
  <small class="d-block mb-0">
    <a href="https://talis.com/accessibility" rel="noreferrer">Accessibility</a>
  </small>
  <small class="d-block mb-0"
    >Copyright © Talis Education Limited, all rights reserved</small
  >
</footer>
